.input-small {
    transition: var(--transition-duration);
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--input-background-color);
    color: var(--text-color);
    padding: var(--padding-small);
}

.input-small:hover {
    background-color: var(--input-background-color-hover);
}

.input-small:focus {
    background-color: var(--input-background-color);
    outline: var(--border-color) solid 2px;
}