.dnd-node-wrapper {
    width: 60px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--button-border-radius);
    display: flex;
    flex-direction: column;  /* Para organizar los elementos en columna */
    justify-content: flex-start;  /* Asegura que los elementos estén al principio */
    align-items: center;  /* Centra los elementos horizontalmente */

    transition: var(--transition-duration);

    margin: 4px;
}

.dnd-node-wrapper:hover {
    .dnd-button-label {
        background-color: var(--button-background-color-hover);
        color: var(--text-color-contrast)
    }
    box-shadow: 0 0 2px var(--shadow-color);
    cursor: pointer;
    scale: var(--scale-hover);

}

.dnd-button-icon {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    aspect-ratio: 1;
    box-sizing: border-box;

    transition: inherit;
}

.dnd-button-label {
    text-align: center;
    padding: 4px;
    margin-top: auto;  /* Hace que el label se adhiera a la parte inferior */
    font-size: 0.8em;
    border-top: var(--border-width) solid var(--border-color);
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 calc(var(--button-border-radius) - var(--border-width)) calc(var(--button-border-radius) - var(--border-width));

    transition: inherit;
}
