.button-with-icon-small, .trash-button-small, .button-with-text-small {
    color: var(--text-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: var(--button-border-radius);
    transition-duration: var(--transition-duration);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-with-icon-small, .trash-button-small {
    aspect-ratio: 1;
}

.trash-button-small:hover:not(:disabled) {
    background-color: var(--negation-color);
}

.trash-button-small:hover:not(:disabled), .button-with-icon-small:hover:not(:disabled), .button-with-text-small:hover:not(:disabled) {
    cursor: pointer;
}

.trash-button-small:active:not(:disabled), .button-with-icon-small:active:not(:disabled), .button-with-text-small:active:not(:disabled) {
    .svg-icon-small path,
    .svg-icon-small g,
    .svg-icon-small circle,
    .svg-icon-small rect {
        scale: 95%;
    }
}

.button-with-icon-small:hover:not(:disabled), .button-with-text-small:hover:not(:disabled) {
    background-color: var(--button-background-color-hover);
    color: var(--text-color-contrast);
}

.button-with-icon-small:disabled, .trash-button-small:disabled, .button-with-text-small:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.svg-icon-small {
    height: 24px;
    width: auto;
}
.button-with-icon-small:hover:not(:disabled),
.trash-button-small:hover:not(:disabled) {
    --trash-icon-color: white;
}

.svg-icon-small path,
.svg-icon-small g,
.svg-icon-small circle,
.svg-icon-small rect {
    transition: calc(var(--transition-duration) - 0.1s);
}

