.top-bar {
    width: 100vw;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--top-bar-background-color);
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.flow-wrapper {
    width: 100%;
    height: 100%;
}



.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.main-content-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.about-panel-background {
    z-index: 9;
    transition: var(--transition-duration);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.22);
    position: absolute;
    width: 100%;
    height: 100%;
}

.about-panel {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 20px;
    box-sizing: border-box;
    gap: 1rem;
    animation: fadeInAnimation ease-in 0.2s;
    transition: all var(--transition-duration) cubic-bezier(0, 0.81, 0.43, 1.01);;
}
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1;}

}

.info-panel-title {
    font-weight: bold;
    font-size: calc(var(--font-size) + 0.3rem);
}

.info-panel-content {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}