.top-bar {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--top-bar-background-color);
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.flow-wrapper {
    width: 100%;
    height: 100%;
}



.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.main-content-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}