:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;

  --border-width: 2px;
  --border-radius: 1em;
  --top-bar-height: 4rem;

  --button-border-radius: 4px;

  --transition-duration: 0.2s;

}





@font-face {
  font-family: 'Noto Sans';
  src: url("src/assets/fonts/Noto Sans/NotoSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 100 900;
  font-display: swap;
}
[theme="light"] {
  --background-color: #f4f7ff;
  --text-color: black;
  --top-bar-background-color: #eff4ff;
  --border-color: #b8c7f6;
  --button-background-color: #c7d6ff;
  --button-background-color-hover: #90abef;

  --icon-color: #bfbfbf;

  --background-background-color: white;

  --control-color: orange;
  --control-border-color: darkorange;
  --confirmation-color: #61dc61;
  --confirmation-border-color: #4eea4e;
  --negation-color: #ec4949;
  --negation-border-color: #ed3737;
}
[theme="dark"] {
  --background-color: #2b2b2b;
  --text-color: white;
  --top-bar-background-color: #222222;
  --border-color: #aaa9a9;
  --button-background-color: #474949;
  --button-background-color-hover: #acaaaa;

  --icon-color: #858585;

  --background-background-color: #232323;

  --control-color: orange;
  --control-border-color: darkorange;
  --confirmation-color: #92ed92;
  --confirmation-border-color: #59ea59;
  --negation-color: #e16363;
  --negation-border-color: #bf4040;
}

html, body {
  margin: 0;
  padding: 0;
}