.react-flow {
    --xy-controls-button-background-color-default: var(--background-color);
}

.react-flow__background {
    background-color: white;
}
.dark .react-flow__background {
    background-color: #232323;
;
}